.svn
*.so
*.pyc
*.pyo
*.tags
*.out
*.mk
*.Makefile
*.files
*.project
Makefile
tags
*.d
*.a
*.so
*.o
out/
.svn/
/.svn
/out
/review
/.gitignore~
src/shell_qt/Makefile
*~
.cproject
.project
src/chromium.config
src/chromium.creator
src/chromium.files
src/chromium.includes

