.svn
*.so
*.pyc
*.pyo
*.tags
*.out
*.mk
*.Makefile
*.files
*.project
Makefile
tags
*.d
*.a
*.so
*.o
out/
.svn/
/.svn
/out
/review
/.gitignore~
src/shell_qt/Makefile
*~
.cproject
.project
*.class
# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
